/* styles.css */

* {
	font-family: Arial;
}

.limelight-regular, h1 {
  font-family: "Limelight", sans-serif;
  font-weight: 400;
  font-style: normal;
	font-size: 3em;
}

.backgroundImage {
	background-image: url(../img/wrench.png);
	width: 400px;
	height: 400px;
	
}

body { 
margin: 100px auto;
width: 500px; 
	
}
