/* styles.css */

* {
	font-family: Arial;
}

.limelight-regular, h1 {
  font-family: "Limelight", sans-serif;
  font-weight: 400;
  font-style: normal;
}


body { 
margin: 100px auto;
width: 500px; 
	
}
